In [40]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time
import pprint

In [2]:
csvpath = "Output/Globalcities.csv"
weatherdf = pd.read_csv(csvpath)

In [6]:
g_key="AIzaSyCrQJtO6YnznKP-3bYqELWABnk_5FcvG-c"
gmaps.configure(api_key=g_key)


locations = weatherdf[["Latitude", "Longitude"]]
humidity = weatherdf["Humidity"]

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False)
heat_layer.max_intensity = 100
heat_layer.point_radius=3
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
idealcitydf = weatherdf[(weatherdf["Temperature"] > 70) & (weatherdf["Temperature"] < 80)] 
idealcitydf = idealcitydf[idealcitydf["Wind Speed"] <= 10]
idealcitydf = idealcitydf[idealcitydf["Cloudiness"] <=10]
idealcitydf = idealcitydf[idealcitydf["Humidity"] <=60]
idealcitydf.dropna()
idealcitydf["Hotel Name"] = ""
idealcitydf
idealcitydf.dropna()

,City,Country,Temperature,Wind Speed,Humidity,Cloudiness,Latitude,Longitude,Hotel Name
37,turbat,PK,78.39,7.78,7,0,26.0023,63.0440,
83,faya,SA,70.32,5.99,38,7,18.3851,42.4509,
92,surajgarh,IN,76.59,8.25,46,0,28.3124,75.7347,
98,sinjar,IQ,70.16,9.01,17,0,36.3209,41.8754,
157,vallenar,CL,73.78,9.57,24,0,-28.5708,-70.7581,
218,bardiyah,LY,71.19,5.48,58,0,31.7561,25.0865,
395,najran,SA,75.85,5.37,20,2,17.4924,44.1277,
467,hindoria,IN,71.44,0.22,53,0,23.9000,79.5667,
529,dawson,US,75.31,6.71,31,0,31.7735,-84.4466,

In [57]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
        "keyword": "hotel",
        "radius": 5000,
        "key": g_key, 
            }

for index, row in idealcitydf.iterrows():
    time.sleep(2)
    lat = row["Latitude"]
    lng = row["Longitude"]
    city_name = row["City"]
    
   
    params["location"] = f"{lat},{lng}"

    
    response = requests.get(base_url, params=params).json()
    
    
    
    
    
    try:
        hotels = response['results'][0]['name']
        idealcitydf.loc[index, "Hotel Name"] = hotels
        print(hotels) 
    
    except (KeyError, IndexError):
        
        idealcitydf.loc[index, "Hotel Name"] = "Unknown Name"
        
idealcitydf

Khand a Hotel
Hotel Surajgarh Fort - A Heritage Property
Hotel Origenes
Hotel Burdy
Country Hearth Inn & Suites Dawson

,City,Country,Temperature,Wind Speed,Humidity,Cloudiness,Latitude,Longitude,Hotel Name
37,turbat,PK,78.39,7.78,7,0,26.0023,63.0440,Khand a Hotel
83,faya,SA,70.32,5.99,38,7,18.3851,42.4509,Unknown Name
92,surajgarh,IN,76.59,8.25,46,0,28.3124,75.7347,Hotel Surajgarh Fort - A Heritage Property
98,sinjar,IQ,70.16,9.01,17,0,36.3209,41.8754,Unknown Name
157,vallenar,CL,73.78,9.57,24,0,-28.5708,-70.7581,Hotel Origenes
218,bardiyah,LY,71.19,5.48,58,0,31.7561,25.0865,Hotel Burdy
395,najran,SA,75.85,5.37,20,2,17.4924,44.1277,Unknown Name
467,hindoria,IN,71.44,0.22,53,0,23.9000,79.5667,Unknown Name
529,dawson,US,75.31,6.71,31,0,31.7735,-84.4466,Country Hearth Inn & Suites Dawson

In [58]:
# Using the template add the hotel marks to the heatmap
idealcitydf=idealcitydf.dropna() 
#idealcitydf 

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""


#Store the DataFrame Row
#Set up parameters for the overlays
box_params = [info_box_template.format(**row) for index, row in idealcitydf.iterrows()]
locations = idealcitydf[["Latitude", "Longitude"]]

markers = gmaps.marker_layer(locations, info_box_content=box_params)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))